/*Defines the header color, position, font, padding, alignment*/
header { 
	font-family: Georgia, serif; 
	padding: 0.75em; 
	text-align: center; 
	background-color: #4a0b0b; 
	color: #dac8c8; 
} 

/*Defines text type, text color, background image*/
body { 
	font-family: Arial; 
	background-color: #8b7474; 
	margin: 0; 
	background-image: url('../images/railroadbg.png'); 
	background-size: 50px 118px;
	background-position: center;
}

h2 { 
	margin-left: 5%; 
}

h3 { 
	margin-left: 5%;
}

h4 { 
	margin-left: 7.5%;
}

/*Redesigns the color and text style of links and buttons*/

.dropdown {
  position: relative;
  display: inline;
}

.dropdown:hover .dropdown-content {
  display: block; 
}

.dropdown-content {
  display: none;
  position: static;
  background-color: #8b7474;
  background-color: #8b7474;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #280733;
  padding: 15px 70px;
  text-decoration: none;
  display: block;
}

.btn {
  background-color: #8b7474;
  color: #280733;
  font-size: 14px;
  border: solid;
  cursor: pointer;
  width: 100%;
  left: 0px;
}

.dropbtn {
  background-color: #8b7474;
  color: #280733;
  font-size: 14px;
  border: solid;
  cursor: pointer;
  width: 100%;
  left: 0px;
}

nav { 
	background-color: #8b7474;
	border: solid;
	border-color: #280733;
}

nav a:link { 
	text-decoration: none; 
	color: #280733; 
}

nav a:visited { 
	text-decoration: none; 
	color: #280733;
}

nav a:hover { 
	text-decoration: none; 
	color: #57080c; 
}

/*wraps the page to make it have a border*/
#wrapper { 
	width: 90%;
	margin: 0 auto;
}

/*Defines what the main part of the website will look like*/
main {
	padding: 1em; 
	margin-left: 0px; 
	border-style: solid; 
	border-width: 10px;
	overflow: auto;
	display: block;
	box-sizing: border-box;
	background-color: #dac8c8;
	border-color: #280733; 
	color: #4a0b0b;
}

/*Redigns the footer section*/
footer { 
	font-size: .8em; 
	font-style: italic; 
	text-align: center; 
	padding: 0.5em; 
	background-color: #4a0b0b; 
	color: #dac8c8;
}

/*redigns table for map.html*/
table { 
	margin: 0.5em; 
	border: 4px solid #280733; 
	border-collapse: collapse; 
	width: 100%; 
	table-layout: fixed; 
}

td { 
	padding: 1em; 
	border: 2px solid; 
	text-align: center; 
}

th { 
	padding: 1em; 
	border: 2px solid; 
}

/*Makes every odd row a certain color*/
table tr:nth-child(odd) { 
	background-color: #ad9696; 
}

* { 
	box-sizing: border-box;
}

/*makes every even row a certain color*/
table tr:nth-child(even) { 
	background-color: #dac8c8; 
}
 
 /*puts an object on the right side of the screen*/
.float-right { 
	float: right; 
	margin: 5px; 
}

.float-left { 
	float: left; 
	margin: 5px;
}

img { 
	max-height: 100%; 
	max-width: 100%;
}

video {
	max-height: 100%; 
	max-width: 100%;
}

/*Places an object in the center of the page*/
.center-position { 
	display: block; 
	padding: 0.5em; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 1em; 
	margin-bottom: 1em; 
	width: 90%;
}

/*sections off a piece of the page */
.gallery { 
	margin-right: 2em; 
	margin-bottom: 1em; 
	padding: 0.5em;
	background-color: #280733;
	border-style: solid; 
	border-color: #4a0b0b; 
	border-width: 5px; 
	width: 90%;
	float: left;
}

.gallery img {
	width: 48%
}

.gallery p { 
	font-size: 0.8em;
	color: #dac8c8; 
	text-align: center;
}

.gallery img:hover {
	border: 1px solid;
	border-color: #dac8c8;
}

form { 
	display: flex;
	flex-direction: column;
	padding-left: 1em;
	width: 90%; 
}

input, textarea { 
	margin-bottom: 1em;
}

li {
	padding: 0.5em;
}

dt { 
	font-weight: bold;
	margin: 1em;
}

dd { 
	margin: 1em;
	text-indent: 20px;
}

dt.StreamList { 
	list-style-type: disc;
}

dd.StremList { 
	list-style-type: square;
}

.product {
	margin-right: 1em;
	margin-bottom: 1em;
	background-color: #8b7474; 
	border-style: solid; 
	border-width: 1px; 
	border-color: #280733; 
}

.product h3 {
	background-color: #280733;
	color: #dac8c8; 
	padding: .25em;
	margin-top: 0; 
	margin-bottom: 0; 
	margin-left: 0;
}

.product p {
	padding-left: .25em; 
	padding-right: .25em; 
	padding-bottom: .25em;
}

.product img { 
	float: right; 
}

.product form {
	clear: right;
}

@media screen and (min-width: 600px) {
	
	nav ul { 
		justify-content: space-around; 
		display: flex; 
		flex-direction: row;
	}
	
	nav li { 
		border: 1px solid;
		font-size: 0.85em;
		text-align: center;
		padding: 0.5em;
	}
	
	main { 
		padding-left: 2em;
		padding-right: 2em;
	}
	
	img {
		max-height: 50%;
		max-width: 50%;
	}
	
	.gallery {
		width: 350px;
	}

	video {
		max-height: 50%; 
		max-width: 50%;
	}
	
	form { 
		width: 40%; 
		display: grid; 
		grid-gap: 1em; 
		grid-template-columns: 8em 1fr;
	}

	input[type="submit"] { 
		grid-column: 2 / 3; 
		width: 6em; 
	}

	label { 
		text-align: right;
	}
	
	.btn {
		width: 11.5%;
		height: 100%;
		border: none;
	}
	
	.dropbtn {
		width: 11.5%;
		height: 100%;
		border: none;
		margin-left: 25px;
		margin-right: 25px;
	}
	
	.dropdown {
		display: inline-block;
	}
	
	.dropdown-content {
		position: absolute;
	}
}

@media screen and (min-width: 1000px) {
	.btn {
		width: 12%;
	}
	
	.dropbtn {
		margin-left: 35px;
		margin-right: 35px;
		width: 12%;
	}
}
/*Color pallet: #4a0b0b, #8b7474, #dac8c8, #280733*/
